@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Mona';
  src: url('/fonts/Mona-Sans-Regular.woff');
}
@font-face {
  font-family: 'MonaLight';
  src: url('/fonts/Mona-Sans-Light.woff');
}
@font-face {
  font-family: 'MonaBold';
  src: url('/fonts/Mona-Sans-BoldWide.woff');
}
